{% extends "base.html" %}

{% block content %}
  <h1 class="text-2xl font-semibold mb-4 text-center py-4">Ventas 🛒</h1>
  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Nombre</th>
        <th class="px-4 py-2">Cédula</th>
        <th class="px-4 py-2">N° Entrada</th>
        <th class="px-4 py-2">Fecha</th>
        <th class="px-4 py-2">Película</th>
        <th class="px-4 py-2">Entrada 2x1</th>
      </tr>
    </thead>
    <tbody>
      {% for venta in ventas %}
        <tr>
          <td class="border px-4 py-2">{{ venta.nombre }}</td>
          <td class="border px-4 py-2">{{ venta.cedula }}</td>
          <td class="border px-4 py-2">{{ venta.numeroEntradas }}</td>
          <td class="border px-4 py-2">{{ venta.fecha }}</td>
          <td class="border px-4 py-2">{{ venta.pelicula }}</td>
          <td class="border px-4 py-2">
            {% if venta.entrada2x1 %}
              Si
            {% else %}
              No
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
